.posts-wrapper
  = image_tag @post.image.url(:medium)
  %h1= @post.title
  %p= @post.description

  = link_to "Go Back", :back
  - if user_signed_in?
    = link_to "New", new_post_path
    = link_to "Edit", edit_post_path
    = link_to "Delete", @post, method: :delete, data: { confirm: 'Are you sure?' }
