%header
  .navbar
    = link_to "ErinWestCeramics", root_path, :class => "nav-logo"
    %nav
      %ul
        - if user_signed_in?
          %li
            %a= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li
            %a= link_to "Wearable", wear_path
          %li
            %a= link_to "Functional", functional_path
          %li
            %a= link_to "Stockists", stockists_path
          %li
            %a{:href => "https://www.etsy.com/shop/ErinWestCeramics", :target => "_blank"} Shop
          %li
            %a= link_to "Contact", contact_path
    .nav-toggle
      %i.fa.fa-bars
