%header
  .navbar
    = link_to root_path, :class => "nav-logo" do
      %i.fa.fa-home
      %h1 ErinWestCeramics
    %nav
      .nav-toggle
        %i.fa.fa-bars MENU
      %ul
        %li
          %a= link_to "Wearable", wearable_path
        %li
          %a= link_to "Functional", functional_path
        %li
          %a= link_to "Stockists", stockists_path
        %li
          %a{:href => "https://www.etsy.com/shop/ErinWestCeramics", :target => "_blank"} Shop
        %li
          %a= link_to "Contact", contact_path
        - if user_signed_in?
          %li
            %a= link_to "Admin", user_root_path
          %li
            %a= link_to "Sign Out", destroy_user_session_path, method: :delete
